.container_2{ 
    width: 49.9%; 
    float: right; 
    padding: 45px; 
    border:2px solid black;
    box-sizing: border-box;  
}
form {
    display: flex; 
    flex-direction: column; 
    
}

#form_title {

    text-align: center; 
    font-family: "Platypi", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 31px;
}
label{
    margin: 3px;
}

#user{
    margin: 3px;
}

#title{
    margin: 3px;
}

#content{
    margin: 3px;
}

#submitButton{
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 15px;

}

ul {
    list-style-type: none; 
    padding: 10px; 
    margin: 0;
    float:right;
  }

